<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:task="http://www.springframework.org/schema/task"
       xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/task
http://www.springframework.org/schema/task/spring-task.xsd">

    <bean class="com.qf.JobDome" id="jobDome"></bean>
    <!-- jobs   -->
    <bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean" id="jobDetail">
        <property name="targetObject" ref="jobDome"></property>
        <property name="targetMethod" value="start"></property>
    </bean>
<!--    trigger-->
    <bean class="org.springframework.scheduling.quartz.CronTriggerFactoryBean" id="trigger">
        <property name="cronExpression" value="*/1 * * * * ?"></property>
        <property name="jobDetail" ref="jobDetail"></property>
    </bean>
<!--    scheduble-->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
       <property name="triggers">
           <list>
               <ref bean="trigger"></ref>
           </list>
       </property>
    </bean>
</beans>